html{
    background-size: cover;
      background-color: antiquewhite;


      .title{
        font-size: 35px;
        font-style:oblique;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
      }
      .button
      {
          margin-top: 35px;
      }
  }
  
  
  