<h1 mat-dialog-title class="header">Edit intern</h1>

<mat-dialog-content class="content" [formGroup]="validateForm">
    <label>
        First Name:
    </label>
    <br>
    <mat-form-field class="label">
        <mat-label>Enter your firstname</mat-label>
    <input
        matInput
        name="firstName"
        formControlName="firstName"
         />
    </mat-form-field>
    <br>

    <label>
        Last Name:
    </label>
    <br>
    <mat-form-field class="label">
        <mat-label>Enter your lastname</mat-label>
    <input
        matInput
        name="lastName"
        formControlName="lastName"
         />
    </mat-form-field>
    <br>

    <label>
        Date of Birth:
    </label>
    <br>
    <mat-form-field class="label">
        <mat-label>Enter your date of birth </mat-label>
    <input
        matInput
        name="dateOfBirth"
        formControlName="dateOfBirth"
         />
    </mat-form-field>
    <br>


    <label>
        Age:
    </label>
    <br>
    <mat-form-field class="label">
        <mat-label>Enter your age </mat-label>
    <input
        matInput
        name="age"
        formControlName="age"
         />
    </mat-form-field>
    <br>



 </mat-dialog-content>
<mat-dialog-actions>
    <button class="btn" style="color:coral;" (click)="save()" mat-button routerLink="" [disabled]="validateForm.invalid" type="submit">Submit</button>
</mat-dialog-actions>