<div class="interns-container">
    <div *ngFor="let intern of interns">
        <mat-card class="interns-div">
            <mat-card-content>
                <p style="font-style: italic; font-size: 15px;"><b>First Name:</b> {{intern.firstName}}</p>
                <p style="font-style: italic; font-size: 15px;"><b>last Name:</b>  {{intern.lastName}}</p>
                <p style="font-style: italic; font-size: 15px;"><b>Date of birth:</b>  {{intern.dateOfBirth}}</p>
                <p style="font-style: italic; font-size: 15px;"><b>Age:</b> {{intern.age}}</p>
                <div class="Buttons">
                    <div class="EditAndRemoveBtn">
                <button mat-icon-button (click)="openDialog(intern.id)"  ><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="RemoveIntern(intern.id)"><mat-icon>delete</mat-icon></button>
                     </div>
                 </div>
            </mat-card-content>
            
     </mat-card>  
    </div>
    <mat-card class="add-intern-card" routerLink="add-intern">
        <button mat-icon-button><mat-icon>add</mat-icon></button>
     </mat-card>
    </div>