.interns-container {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    flex-wrap: wrap;
    
    .interns-div {
        margin: 15px;
        margin-top:45px;
        margin-left: 40px;
        width: 300px;
        height: 150px;
        justify-content: center;
        align-items: center;   
        text-align: left;
        background-color: green; 
    }

}

.Buttons{
    margin-top: 10px;
       display: flex;
       flex-direction: row;
      

       .filterBtn{
           margin:0px;
           display: flex;
           flex-direction: row;
           justify-content:flex-start;
           margin-right: 30px;
           
       }

       .EditAndRemoveBtn{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;    
       }
    }

.add-intern-card {
    margin: 15px;
    margin-top:45px;
    margin-left: 40px;
  max-width: 300px;
  max-height: 150px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    }
