<div class="background">

    <div class="form">
        <h1 class="header">Add an intern </h1>
    <br><br><br>
    <form [formGroup]="validateForm" (ngSubmit)="Submit()">
        <label>
            First Name
        </label>
        <br>
        <mat-form-field class="label">
            <mat-label>Enter your firstname</mat-label>
        <input
            matInput
            name="firstName"
            formControlName="firstName"
             />
        </mat-form-field>
    
    <br>
    <label>
        Last Name
    </label>
    <br>
    <mat-form-field class="label" >
        <mat-label>Enter your lastname</mat-label>
    <input
        matInput
        name="lastName"
        formControlName="lastName"
         />
    </mat-form-field>
    
    
    <br>
    <label>
        Date of Birth
    </label>
    <br>
    <mat-form-field class="label" >
        <mat-label>Enter your date of birth</mat-label>
    <input
        matInput
        name="dateOfBirth"
        formControlName="dateOfBirth"
         />
    </mat-form-field>
    <br>
    
    
    <label>
        Age
    </label>
    <br>
    <mat-form-field class="label" >
        <mat-label>Enter your age</mat-label>
    <input
        matInput
        name="age"
        formControlName="age"
         />
    </mat-form-field>
    
    <br>
    <button class="btn" style="color:coral;" (click)="Submit()" mat-button routerLink="" [disabled]="validateForm.invalid" type="submit">Submit</button>
    <br>
    </form>
    </div>
    </div>
    